# Server
server/target
server/src/main/resources/application-dev.properties

# Client
client/npm-debug.log
client/yarn-error.log
client/node_modules
client/client/dist

client/.sass-cache/
client/connect.lock
client/coverage
client/libpeerconnection.log
clienttestem.log
client/typings
client/dist
client/tmp
client/out-tsc
client/bazel-out
client/node

# Misc.
.idea/
.vscode/
target/
