.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
}
