.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  margin: 0 auto;
  font-size: var(--font-size-normal);
}

.tableContainerWrapper {
  margin-top: 20px !important;
}
