.navbar {
  min-width: var(--base-width);
  height: 100px;
  background-color: var(--black);
  position: relative;
  display: flex;
  align-items: center;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
  padding: 10px 20px;
  letter-spacing: 1px;
}

.hr {
  margin: 0;
  width: 100%;
  border: none;
  border-bottom: 14px solid var(--light-grey);
}

.brandContent {
  width: var(--base-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.logo {
  height: 80px;
  width: auto;
  display: block;
}

.nameArea {
  color: var(--white);
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
}

.sloganArea {
  color: var(--white);
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
}

.redColor {
  color: var(--red);
  margin-left: 2px;
}
